# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
DATABASE_AUTH_TOKEN=""
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173

ADMIN_EMAIL=
ADMIN_PASSWORD=

# Scraper configuration "MAX" means no limit or "number of pages to scrape"
SCRAPER_MAX_PAGES="1"
SCRAPER_DELAY_MS=1000